{% extends 'avto/base.html' %}

{% block content %}
<div class="container">

    <form method="post">

        {% csrf_token %}

        <div class="form-error">{{ form.non_field_errors }}</div>

        {{ form.as_p }}

        <div class="row">
            <button type="submit" class="btn btn-primary">Добавить автомобиль</button>
        </div>

        <span>{{ error }}</span>

    </form>

    <script>
        var objSel = document.getElementById("id_car_mark");
        console.log(objSel)
    </script>


{% endblock %}
