{% extends 'avto/base.html' %}

{% block content %}

<div class="container">

    <form action="" method="get" class="">
        <div class="input-group mb-5">
            <input type="text" class="form-control form-control-lg" placeholder="Введите гос номер" name="q">
            <button type="submit" class="btn-primary"><i class="me-2"></i> Поиск</button>
        </div>
    </form>

    <table class="table table-hover table-bordered border-dark">
        <thead>
        <tr class="table-primary border-dark">
            {% filter upper %}
            <th scope="col">Гос номер</th>
            <th scope="col">Марка</th>
            <th scope="col">Цвет</th>
            <th scope="col">Зона</th>
            <th scope="col">Доступ</th>
            <th scope="col">ФИО владельца</th>
            <th scope="col">Организация</th>
            <th scope="col">Контактные данные</th>
            {% endfilter %}
        </tr>
        </thead>
        <tbody>
        {% for car in object_list %}
        <tr>
            {% filter upper %}
            <th>{{ car.car_number }}<a href=""></a></th>
            {% endfilter %}
            <td>{{ car.car_mark }}</td>
            <td>{{ car.car_color }}</td>
            <td>{{ car.zone }}</td>
            <td>{{ car.type }}</td>
            <td>{{ car.fio }}</td>
            <td>{{ car.organization }}</td>
            <td>{{ car.details }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}