{% extends 'avto/base.html' %}

{% block content %}

<div class="container">
    <h1>Смена пароля</h1>
    <span class="helptext">
        <ul>
            <li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
            <li>Ваш пароль должен содержать как минимум 8 символов.</li>
            <li>Пароль не должен быть слишком простым и распространенным.</li>
            <li>Пароль не может состоять только из цифр.</li>
        </ul>
    </span>

    <form action="." method="post">


        {% csrf_token %}

        <div class="form-error">{{ form.non_field_errors }}</div>

        <p>
            <label class="form-label" for="id_old_password">Старый пароль:</label>
            <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus required
                   id="id_old_password">
            <div class="form-error">{{ f.errors }}</div>
        </p>

        <p>
            <label class="form-label" for="id_new_password1">Новый пароль:</label>
            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
        </p>

        <p>
            <label class="form-label" for="id_new_password2">Подтверждение нового пароля:</label>
            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
        </p>

        <span>{{ error }}</span>


        <div class="row">
            <button type="submit" class="btn btn-primary">Изменить пароль</button>
        </div>

        {% for field in form %}
        {{ field.errors }}
        {% endfor %}
    </form>

</div>


{% endblock %}